<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <div class="card-body">
      <form [formGroup]="autor" (ngSubmit)="grabar()">
        <div class="mb-2">
          <label for="Nombre">Nombre</label>
          <input type="text" class="form-control" formControlName="Nombre" />
          @if (autor.invalid && (autor.dirty || autor.touched)) {
          <div class="alert">
            @if (autor.errors?.["required"]) {
            <div class="ng-invalid">Nombre es requerido</div>
            }
          </div>
          }
        </div>
        <div class="mb-2">
          <label for="Cargo">Nacionalidad</label>
          <input type="text" class="form-control" formControlName="Nacionalidad" />
          @if (autor.invalid && (autor.dirty || autor.touched)) {
          <div class="alert">
            @if (autor.errors?.["required"]) {
            <div class="ng-invalid">Nacionalidad es requerida</div>
            }
          </div>
          }
        </div>        
        <div class="mb-2">
          <label for="Fecha_nacimiento">Fecha de contratacion</label>
          <input type="date" class="form-control" formControlName="Fecha_nacimiento" />
          @if (autor.invalid && (autor.dirty || autor.touched)) {
              <div class="alert">
                  @if (autor.errors?.["required"]) {
                      <div class="ng-invalid">La Fecha de nacimiento requerida</div>
                  }
              </div>
          }
      </div>
  
        <div class="mb-2">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!autor.valid"
          >
            Grabar
          </button>
          <button class="btn btn-secondary" routerLink="/autores">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>