<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <div class="card-body">
      <form [formGroup]="libro" (ngSubmit)="grabar()">
        <div class="mb-2">
          <label for="Nombre">Nombre</label>
          <input type="text" class="form-control" formControlName="Titulo" />
          @if (libro.invalid && (libro.dirty || libro.touched)) {
          <div class="alert">
            @if (libro.errors?.["required"]) {
            <div class="ng-invalid">Titulo es requerido</div>
            }
          </div>
          }
        </div>
        <div class="mb-2">
          <label for="Cargo">Genero</label>
          <input type="text" class="form-control" formControlName="Genero" />
          @if (libro.invalid && (libro.dirty || libro.touched)) {
          <div class="alert">
            @if (libro.errors?.["required"]) {
            <div class="ng-invalid">El genero es requerido</div>
            }
          </div>
          }
        </div>        
        <div class="mb-2">
          <label for="Fecha_publicacion">Fecha de publicacion</label>
          <input type="date" class="form-control" formControlName="Fecha_publicacion" />
          @if (libro.invalid && (libro.dirty || libro.touched)) {
              <div class="alert">
                  @if (libro.errors?.["required"]) {
                      <div class="ng-invalid">La Fecha de publicacion requerida</div>
                  }
              </div>
          }
      </div>
  
        <div class="mb-2">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!libro.valid"
          >
            Grabar
          </button>
          <button class="btn btn-secondary" routerLink="/libros/nuevolibro">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>